@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .nav-background {
    @apply from-transparent to-slate-700 backdrop-blur-lg;
  }

  .page-padding {
    @apply xl:px-48 lg:px-32 md:px-16 px-8;
  }

  .skill-capsule {
    @apply border-y px-2 py-0.5 rounded-md;
  }

  .swiper-navigation {
    @apply absolute top-[50%] transform translate-y-[-50%] cursor-pointer z-20 text-secondary;
  }

  .contact-input {
    @apply bg-slate-800 border border-accent placeholder-slate-600 text-sm block w-full p-3 focus:border-secondary focus:outline-none focus:ring-1 focus:ring-secondary rounded-lg;
  }

  .image-overlay {
    @apply absolute bottom-0 left-0 w-full h-full opacity-0 translate-y-1/2 bg-black/70 text-white flex justify-center items-center;
  }

  .project-link {
    @apply w-16 flex justify-center items-center p-2 rounded-xl border-y-2 transition-all duration-300 ease-in-out hover:border-secondary hover:text-secondary;
  }

  .project-icon {
    @apply text-accent transition-all duration-300 ease-in-out;
  }
}
